Flask
gunicorn
flask-cors
python-dotenv
requests
pymongo
langchain
langchain-community
langchain-core
langchain-groq
langchain-text-splitters
groq
numpy
pandas
chromadb
huggingface_hub
speechrecognition
pydub